<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  {% load static %}

  <!-- ----------------------------- estilos CSS ----------------------------- -->
  <link rel="stylesheet" href="{% static 'app/styles/tarefas.css' %}">
  <link rel="stylesheet" href="{% static 'app/styles/loaders.css' %}">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


  <!-- ------------------- Biblioteca de icones - Fontawesome -------------------- -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- ----------------------------- sweet alert ----------------------------- -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- CDN example (unpkg) -->
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script src="./scripts/tarefa.js"></script>
  <script src="./scripts/utils.js"></script>
  <script src="./scripts/loaders.js"></script>


  <title>Livros</title>
</head>

<body>
  <header>
    <nav>
      <a href="#">Livros</a>
    </nav>

    <div class="user-info">
      <p id="nomeUsuario">{{ nome_usuario }}</p>
  
  
      <div class="user-image"></div>
      <button id="closeApp" type="submit">
        Finalizar sessão
      </button>
    </div>
  </header>


  <div class="nova-tarefa">
    <p>Novo Livro</p>
    <button id="botaoNovaTarefa" type="submit">

      <img src="{% static 'app/assets/plus.png' %}" alt="Adicionar um novo livro">
    </button>
  </div>


  <ul class="tarefas-pendentes">
    <!-- <div id="skeleton"> -->

    <div id="areaTarefas"></div>
    <div id="addTarefasPendentes">
    </div>

  </ul>

  <h2 class="titulo-terminadas">Livros Alugados</h2>
  <ul class="tarefas-terminadas">
    <div id="addTarefasTerminadas">
    </div>
  </ul>

</body>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  const closeAppBtn = document.getElementById('closeApp');

  closeAppBtn.addEventListener('click', function() {
      fetch("{% url 'finalizar_sessao' %}", {
          method: 'POST',  // ou 'GET' se preferir
          headers: {
              'X-CSRFToken': '{{ csrf_token }}'
          },
          // Adicione outras configurações de solicitação, se necessário
      })
      .then(response => {
          // Exibe o SweetAlert de confirmação
          swal("Sessão finalizada!", {
            icon: "success",
            buttons: false,
            timer: 1500,
          })
          .then(() => {
            // Redireciona para a página de login após finalizar a sessão
            window.location.href = "{% url 'login' %}";
          });
      })
      .catch(error => {
          console.error('Ocorreu um erro ao finalizar a sessão:', error);
          // Exibe o SweetAlert de erro
          swal("Erro!", "Ocorreu um erro ao finalizar a sessão. Por favor, tente novamente mais tarde.", "error");
      });
  });
</script>


</html>